.add-form-container {
  background: #66fcf1;
  box-shadow: 20px 20px 60px #57d6cd, -20px -20px 60px #75ffff;
  margin: 6px 12px;
  padding: 40px;
}

.add-form {
    min-height: 50vh;
}

.title, .amount {
    background-color: #fff;
    margin: 20px 0;
    width: 70%;
    padding: 8px;
    border-radius: 6px;
}

.title > label, .amount > label {
    color: #000;
    background-color: #66fcf1;
    padding: 2px 12px;
    border-radius: 4px;
    font-size: 20px;
}

/* category styling */

.category-container{
    width: 40%;
}

.category-dropdown {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 12px 0;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
}
.category-dropdown > label {
    cursor: pointer;
    font-size: 20px;
    padding: 0 8px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    cursor:pointer;
    background-color: #fff;
}

.category > i {
    font-size: 24px;
    margin-right: 20px;
    width: 24px;
}

/* submit button styling */

.submit-button-container {
    display: flex;
    justify-content: flex-end;
}
.submit-button {
    margin-top: 20px;
}

.submit-button-container > .submit-button > label {
    cursor:pointer;
}

.submit-button-container > .submit-button > i {
    padding-left: 4px;
}


@media only screen and (max-width: 1024px) {
    .add-form {
        min-height: 45vh;
    }
    .submit-button-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 732px) {
    .title, .amount {
        width: 90%;
        display:flex;
        flex-direction: column;
    }

    .title > label, .amount > label {
        padding: 2px 12px;
        border-radius: 4px;
        font-size: 20px;
    }

    .title > input, .amount > input {
        padding-top: 6px;
    }

    .category-container{
        width: 60%;
    }
}

@media only screen and (max-width: 512px) {
    .add-form {
        min-height: 40vh;
    }
}

@media only screen and (max-width: 420px) {
    .category-container{
        width: 80%;
    }
}